<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="ko">

<th:block th:replace="fragments/default/head :: headFragment"></th:block>
<body>
<header th:replace="fragments/default/header :: headerFragment"></header>

<th:block layout:fragment="content"></th:block>

<footer th:replace="fragments/default/footer :: footerFragment"></footer>


<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
